<aside class="docs-nav">
  <div class="docs-nav-panel">
    <nav class="docs-tree">
      <ul class="docs-tree-root">
        <% site.categories.sort('name').each(function(category){ %>
          <% var categoryKey = 'category-' + category.slug; %>
          <li class="docs-tree-category" data-category-key="<%= categoryKey %>">
            <details>
              <summary>
                <span class="docs-tree-category-label"><%= category.name %></span>
                <span><%= category.length %></span>
              </summary>
              <ul class="docs-tree-posts">
                <% category.posts.sort('date', -1).each(function(post){ %>
                  <% var isCurrentPost = page.path === post.path; %>
                  <li class="docs-tree-post<%= isCurrentPost ? ' is-current' : '' %>">
                    <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                  </li>
                <% }) %>
              </ul>
            </details>
          </li>
        <% }) %>
      </ul>
    </nav>
  </div>
</aside>
