<% site.categories.sort('name').each(function(category){ %>
  <section class="docs-overview-panel docs-category-block">
    <div class="docs-category-head">
      <h3 class="docs-category-title"><a href="<%- url_for(category.path) %>"><%= category.name %></a></h3>
      <span class="docs-category-count"><%= category.length %> 篇</span>
    </div>
    <ul class="docs-category-post-list">
      <% category.posts.sort('date', -1).each(function(post){ %>
        <li>
          <a href="<%- url_for(post.path) %>"><%= post.title %></a>
          <time datetime="<%= date_xml(post.date) %>"><%= date(post.date, 'YYYY-MM-DD') %></time>
        </li>
      <% }) %>
    </ul>
  </section>
<% }) %>
